<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Input Random Values</title>
</head>
<body>
<h1>Input Random Values</h1>
<form action="/random" method="post">
    <label for="value1">Value 1:</label>
    <input type="number" id="value1" name="values" required>
    <br>
    <label for="value2">Value 2:</label>
    <input type="number" id="value2" name="values" required>
    <br>
    <label for="value3">Value 3:</label>
    <input type="number" id="value3" name="values" required>
    <br>
    <label for="value4">Value 4:</label>
    <input type="number" id="value4" name="values" required>
    <br>
    <label for="value5">Value 5:</label>
    <input type="number" id="value5" name="values" required>
    <br>
    <button type="submit">Submit</button>
</form>

</body>
</html>